/* line 4, ../sass/js-timer.scss */
body {
  color: #eeeeee;
  background-color: #555555;
  font-size: 1em;
  line-height: 1.2;
}

/* line 11, ../sass/js-timer.scss */
.js-timer {
  height: 50%;
  margin: 25% auto;
  text-align: center;
}
/* line 16, ../sass/js-timer.scss */
.js-timer #display {
  font-size: 6em;
  margin-bottom: 20px;
}
