$color: #EEEEEE;
$bkgColor: #555555;
$bkgColorHilite: #F9CD9D;

body {
    color: $color;
    background-color: $bkgColor;
    font-size: 1em;
    line-height: 1.2;

    &.highlight {
        background-color: $bkgColorHilite;
    }
}

.shortcut {
    text-decoration: underline;
}

.js-timer {
    height: 50%;
    margin: 25% auto;
    text-align: center;

    #display {
        font-size: 6em;
        margin-bottom: 20px;
    }

}
